.open-reg-18 {
  font-family: "montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
}

.open-reg-12 {
  font-family: "montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 30px;
}


.albert-reg-20 {
  font-family: "Albert Sans", sans-serif;
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
}
.open-reg-14 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;

  color: #ffffff;
}

.open-reg-23 {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  line-height: 28px;
  font-weight: 400;
}

.open-reg-24 {
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
  line-height: 35px;
  font-weight: 400;
}

.open-reg-25 {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  /* or 167% */
  color: #8d8f9a;
}

.open-reg-26 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 43px;
  /* identical to box height */
  color: #000000;
}

.open-reg-28 {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 43px;
}

.open-reg-35 {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 43px;
}

.albert-reg-27 {
  font-family: "Albert Sans", sans-serif;
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
}
.albert-reg-28 {
  font-family: "Albert Sans", sans-serif;
  font-size: 55px;
  line-height: 56px;
  font-weight: 600;
}

.albert-reg-20 {
  font-family: "Albert Sans", sans-serif;
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
  @media (max-width: 481px) {
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    margin-left: 0;
    width: 376px;
  }
}

.monts-bold-44 {
  font-family: "Montserrat", sans-serif;
  font-size: 44px;
  line-height: 67px;
  font-weight: 600;
}
.monts-bold-60 {
  font-family: "Montserrat", sans-serif;
  font-size: 60px;
  line-height: 67px;
  font-weight: 600;
}
.monts-bold-50 {
  font-family: "Montserrat", sans-serif;
  font-size: 50px;
  line-height: 67px;
  font-weight: 600;
}

.monts-bold-23 {
  font-family: "Montserrat", sans-serif;
  font-size: 23px;
  font-weight: 600;
}

.monts-bold-35 {
  font-family: "Montserrat", sans-serif;
  font-size: 35px;
  line-height: 42px;
  font-weight: 600;
}

.monts-bold-30 {
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  line-height: 42px;
  font-weight: 600;
}

.monts-bold-35 {
  font-family: "Montserrat", sans-serif;
  font-size: 35px;
  line-height: 42px;
  font-weight: 600;
}

.monts-semilight-50 {
  font-family: "Montserrat", sans-serif;
  font-size: 50px;
  line-height: 61px;
  font-weight: 300;
}
.monts-semilight-51 {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
}
.monts-semilight-52 {
  font-family: "Montserrat";
  font-size: 85px;
  line-height: 85px;
  font-weight: 600;
}

.ibm-semibold-16 {
  font-family: "IBM Plex Mono", sans-serif;
  font-size: 16px;
  line-height: 16px;
  font-weight: 500;
}

.ibm-semibold-17 {
  font-family: "IBM Plex Mono";
  font-size: 22px;
  line-height: 29px;
  font-weight: 400;
}

.fw-500 {
  font-weight: 500;
}
